#game-section {
  display: none;
}

#game-section ol {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 6rem);
  grid-template-rows: repeat(3, 6rem);
  padding: 0;
  gap: 0.5rem;
  justify-content: center;
}

#game-section li {
  display: flex;
  background-color: rgb(252, 211, 242);
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: bold;
  cursor: pointer;
}

#game-section li.selected {
  background-color: rgb(255, 32, 203);
  color: white;
  cursor: none;
}

#game-section li:hover {
  background-color: rgb(255, 32, 203);
}
